body {
  margin: 0;
  height: 100vh;
  background: radial-gradient(circle at top, #1b1f3b, #000);
  color: white;
  font-family: Segoe UI;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loginScreen {
  background: rgba(0,0,0,.6);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

input {
  width: 200px;
  padding: 8px;
  margin-top: 10px;
}
